:root {
  --radius: 3px;
  --vminheight: 50px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--vminheight) 1fr;
  background-color: #000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #fff;
}

.header {
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  background-color: #fff;
  color: #000;
}

.header__nav {
  grid-column: 3;
  place-self: center;
}

.logo {
  background-image: url(../assets/cinema.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item {
  list-style: none;
}

.menu__link {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.menu__img {
  width: 100%;
}

.form {
  position: absolute;
  top: 0;
  left: 70px;
  width: calc(100vw - 140px);
  height: var(--vminheight);
  display: grid;
  align-items: center;
}

.form__input {
  max-width: 400px;
  padding-left: 5px;
  height: 80%;
  border-radius: var(--radius);
  font-size: 1em;
  background-color: #f9fafa;
}

.results {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 15px;
  padding: 25px;
}

.movie-container {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px #f9fafa solid;
  border-radius: var(--radius);
  padding-bottom: 5px;
}

.movie-container__media-container {
  position: relative;
}

.movie-container__info-container {

}

.media-container__img {
  width: 100%;
  cursor: pointer;
}

.media-container__favorite {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 30px;
  height: 40px;
  cursor: pointer;
  background-image: url(../assets/favourite4.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.info-container__title {
  margin-top: 0;
  cursor: pointer;
  text-align: center;
}

.info-container__year,
.info-container__type {
  color: rgb(196, 196, 196);
  text-align: center;
  margin: 0;
}